{{ define "main" }}

  {{ range $parentKey, $parent := .Site.Data.verbs}}

      {{ range $childKey, $child := $parent }}

          {{ range $child }}

          {{ $parentKey }}

            <h3> Verse: </h3>
            <p> {{ $childKey }} </p>
            <!-- [aya][text] -->
            <h3> Content: </h3>
            <p>{{ .arabic | safeHTML}}</p>
            <!-- [aya][translation] -->
            <p>{{ .translation | safeHTML}}</p>
            <hr>

          {{ end }}

      {{ end }}

  {{ end }}

{{ end }}
