<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    </head>
    <body>
        <ul>
            {{ range $_, $form := .Site.Data.verbs }}
                {{ range $_, $entry := $form }}
                   <li>{{ .arabic }}</li>
                {{ end }}
            {{end}}
        </ul>
    </body>
</html>
